@using AspMVC171212_BlogSitesi.Models.Entity
@model List<Blog>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <h1 class="my-4">
            Page Heading
            <small>Secondary Text</small>
        </h1>
        <!-- Blog Post -->

        @if ((int)ViewBag.blogSayisi > 0)
        {
            <div class="alert alert-success" role="alert">
                <strong> @ViewBag.blogSayisi</strong> tane yazı listelendi
            </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                Blog Bulunamadı 
            </div>
        }


        @foreach (var blog in Model)
        {
            <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">@blog.Baslik</h2>
                    <p class="card-text">@(blog.Detay.Length > 50 ? blog.Detay.Substring(0, 50) + "..." : blog.Detay)</p>
                    <a href="/Home/Details/@blog.ID" class="btn btn-primary">Daha Fazla</a>
                </div>
                <div class="card-footer text-muted">
                    @blog.Tarih.ToLongDateString()
                </div>
            </div>
        }




    </div>
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
       
       
        
      @Html.Partial("_Search")
      @{Html.RenderAction("KategoriListesi", "Kategori");}
    </div>
</div>



<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>


